<%- include("partials/header"); -%>
    <!-- CSS only -->
    <h1>
    <%heading%>
    </h1>
    <div>
<%   for (let x = 0; x < title.length; x++) {%>
                            <h>
                            <%=title[x]%>
                            </h>
                            <p>
                            <%=content[x].substring(0, 100) + " ..."%>
                            </p>
                        <a href="/posts/<%=title[x]%>" class="btn btn-primary">open</a>
            <% }%>

</div>
    <%- include("partials/footer"); -%>